body{
    padding-top: 100px;
    background-color: black;
    color: #571A0A;
    font-size: larger;
}
.title img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.title{
    display: flex;
    align-items: center;
    gap:50px;
}
div{
width: 400px;

}
main img{
   text-align: center;
    width: 400px;
    height: 400px;
    object-fit: contain;
    
}
main{

    display: flex;
    justify-content: center;
    gap: 20px;
}
h1{
    font-size: 100px;
}
.texttop{
text-align: center;

}
.backto{
    text-align: center;
    font-size: 30px;
}
a{
    color: #525229;
}