body{
    background-color: black;
    color: #571A0A ;
}
.title img{
    width: 350px;


}
.title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:200px;
}
main{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}
 .textpicture img{
width: 400px;
height: 400px;


 }
 .textpicture p{
   text-align: center;
   font-size: 40px;
   /* color: transparent; */
 }
 .textpicture{
     width:400px;
    border: 1px solid black;
color: transparent; 
opacity: 0.3;
transition: all 1s;
}
.textpicture:hover{
opacity: 1;
color: #571A0A;
}
.left{

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }
    .end{
        text-align: center;
        font-size: 30px;
    }
    a{
        color:#525229;
    }
    