body{
    padding-top: 200px;
    background-color: black;
    color: #571A0A;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #571A0A;
    position: fixed;
    top: 0;
    width: 100vw;
    }

header img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

header ul {
    display: flex;
    list-style: none;


}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 1s;
}

header li:hover {
    transform: scale(1.2);
    background-color: #140502;
    color: black;
}

header li a {
    color: #525229;
    text-decoration: none;

}