body{
background-color: black;
color: #571A0A ;

}
h1{
    text-align: center;
    font-size: 80px;
}
h2{
    padding-left:200px;
}
.picture img{
    width: 400px;
    height: 400px;
    object-fit: contain;

    opacity: 0.2;
    transition: all 1s;
    

}

.picture img:hover {
    transform: scale(1.3);
    opacity: 1;


}
.picture{
    
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
a{
    color:#525229;
}
.end{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}