body {
    background-color: black;

}

h1 {
    font-size: 100px;
    color: #571A0A;
    text-align: center;
}

p {
    color: #571A0A;
    font-size: 20px;
}
.firsttext{
    text-align: center;
    padding: 20px;
}
h2 {
    color: #571A0A;
    text-align: center;
}

main img {
    width: 400px;
    height: 200px;
    object-fit: contain;

}

main {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

div {
    width: 400px;
    padding:20px

}

.picturecontainer {
    display: flex;
    flex-direction: column;


}

a {
text-align: center;
padding-top: 50px;
color: #525229;
font-size: larger;


}
.backto{
text-align: center;
font-size: 30px;

}